.az-products-swiper{

      // background-color: red;
      position   : relative;
      display    : flex;
      align-items: center;
  
      .az-hero-prev,
      .az-hero-next {
          // background-color: red;
          position               : absolute;
          z-index                : 10;
          font-size              : 20px;
          color                  : theme("colors.theme-primary");
          width                  : 50px;
          height                 : 50px;
          border                 : 2px solid theme("colors.theme-primary");
          display                : flex;
          justify-content        : center;
          align-items            : center;
          border-radius          : 100%;
          padding                : 0;
          margin                 : 0;
          background             : rgba(255, 255, 255, 0.25);
          backdrop-filter        : blur(4px);
          -webkit-backdrop-filter: blur(4px);
  
      }
  
      .az-hero-next {
          right: 30px;
      }
  
      .az-hero-prev {
          left: 30px;
      }

}