.az-color-picker {
    li {
        border : 2px solid theme('colors.gray.300');
        outline: 0px solid transparent;
        transition: outline 0.5s;

        &:hover{
            outline: 3px solid theme('colors.gray.400');
            cursor: pointer;
        }

        &:first-child{
            margin-left: 0 !important;
        }
        &:last-child{
            margin-right: 0 !important;
        }

    }
}